---
import Layout from '../layouts/Layout.astro';
import Dashboard from '../components/Dashboard.svelte';
---

<Layout title="SaarClimb - Dashboard">
	<main>
		<Dashboard client:idle />
	</main>
</Layout>