---
import Layout from '../layouts/Layout.astro';
import Landing from '../components/Landing.svelte';
---

<Layout title="Boulder tracken im Saarland 🧗">
	<main>
		<Landing client:idle />
	</main>
</Layout>